.carousel-item-img {
    height: 44rem; 
    object-fit: cover;
}

.img-editorial {
    float: left;
    width: 80%;
    object-fit: contain;
    object-position: left;
    margin-left: 1rem;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 7rem;
}

.video-card {
    min-height: 11.5rem;
}

.titulos-texto {
    height: 42rem;
    margin-top: 5rem;
    margin-right: 15rem;
    object-position: center;
}

.titulos-imagen {
    float: left;
    height: 30%;
    width: 30%;
    object-fit: contain;
    object-position: center;
    margin-top: 3.3rem;
    margin-left: 15rem;
    margin-right: 15rem;
    box-shadow: -5px -3px #f28627;
}

.booktrailer-div {
    background-color: #f28627;
    text-align: center;
    padding-bottom: 1.5rem;
}

.booktrailer-video {
    width: 560px;
    height: 315px;
}



@media all and (min-width:376px) and (max-width: 425px) {
    .booktrailer-div {
        height: 21rem;
    }
}

@media all and (min-width:321px) and (max-width: 375px) {
    .booktrailer-div {
        height: 21rem;
    }
}

@media all and (min-width:0px) and (max-width: 320px) {
    .booktrailer-video {        
        height: 45%;
    }
}

@media all and (min-width:0px) and (max-width: 425px) {
    .carousel-item-img {
        height: auto;
    }

    .img-editorial {
        margin-bottom: 1rem;
    }

    .video-card {
        min-height: auto;
    }

    .titulos-imagen {
        width: 80%;
        margin-left: 2em;
        margin-bottom: 2rem;
    }

    .titulos-texto {
        margin-right: auto;
        height: auto;
    }

    .booktrailer-div {
        height: 21rem;
    }

    .booktrailer-video {
        /* width: 295px;
        height: 150px; */
        width: 100%;
        height: 62%;
    }
}